:root{
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-dark: #27282f;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;

    --color-primary: #0744ea;
    --color-success: #22ca4b;
    --color-danger: #e01e1e;
    --color-warning: #eab507;
    --color-purple: #a063f5;

    --color-primary-light: #4707ea33;
    --color-success-light: #22ca4b33;
    --color-danger-light: #ff433633;
    --color-purple-light: #a863f533;
}

@mixin marginCenter{
    margin-left: auto;
    margin-right: auto;
}

@mixin screenTablets{
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin screenPhones{
    @media screen and (max-width: 600px) {
        @content;
    }
}