$github: #535353, #131313;
$twitter: #23A4F2, #50B7F5, #80CBF7;
$linkedin:#014283, #0274B3, #EFF6FA;
$instagram: #D93662, #D9328E, #8D33A6, #F2AC57, #F25F29;

$tran-02: .2s ease-in-out;
$tran-03: .3s ease-in-out;
$tran-04: .4s ease-in-out;
$tran-05: .5s ease-in-out;

:root{
    --background: #f0f8ff;
    --color-white: #ffffff;
    --color-light: #f0eff5;

    --color-dark: #111111;
    --color-dark-light: #27282f;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;

    --color-primary: #29a6d8;
    --color-success: #22ca4b;
    --color-warning: #eca012;
    --color-danger: #fa291a;

    --color-primary-light: #29a6d867;
    --color-success-light: #22ca4b67;
    --color-warning-light: #eca01267;
    --color-danger-light: #ff433667;
}


@mixin screenLANDSCAPE{
    @media (orientation: landscape){
        @content;
    }
}

@mixin screenPORTRAIT{
    @media (orientation: portrait){
        @content;
    }
}

@mixin screenTablet{
    // and (min-width: 768px) and (max-width: 1024px)
    @media screen and (max-width: 1024px){
        @content;
    }
}

@mixin screenTablet-bootstrap{
    @media screen and (max-width: 991px){
        @content;
    }
}

@mixin screenTablet-low{
    @media screen and (max-width: 825px){
        @content;
    }
}

@mixin screenPhone{
    // and (min-width: 320px) and (max-width: 600px)
    @media screen and (max-width: 600px){
        @content;
    }
}


@mixin Flexbox-Pattern($content){
    display: flex;
    align-items: center;
    justify-content: $content;
}

@mixin Flexbox-Column($content, $content_2){
    display: flex;
    flex-direction: $content;
    justify-content: $content_2;
}

@mixin Grid-Pattern($content){
    display: grid;
    grid-template-columns: $content;
}