@import '_variables.scss', '_navbar.scss', '_sidebar.scss', '_form.scss',
        '_home.scss', 'list.scss', '_footer.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--background);
}

.switch-mode{
    --background: #111111;
    --letter-color: #f0eff5;
}

.padding-basic{
    padding: 20px 10px;
}

div.mt-content-block{
    margin-top: 15vh !important;
}

div.title-block-content{
    margin-bottom: 5vh;
    text-align: center;
}

div.rules{
    display: flex;
    justify-content: center;
}

form.wish-form-CE{
    display: grid;

    label{
        font-weight: bold;
    }

    input, textarea{
        margin-bottom: 2vh;
    }

    textarea{
        max-height: 200px !important;
        @include screenPhone{
            max-height: 237px !important;
        }
    }
}