{% extends 'tasks/list.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div mb-4">
    <div class="col-12">
        <h1>Lista de Tarefas</h1>
    </div>
    <a id="add-id" href="new_task/">
        <div class="col-md-2 add-div">
            <i class="bi bi-plus-square"></i> Adicionar Tarefa
        </div>
    </a>
    <div class="col-9 search-div">
        <form method="get" class="search-form">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar">
            <i class="bi bi-search search-btn"></i>
        </form>
    </div>
    <ul class="task-list">
        <li class="task-item">
            <span>
                Nenhuma Tarefa foi encontrada
            </span>
            <span>
                <a href="/task-list" class="return-btn">
                    Voltar
                </a>
            </span>
        </li>
    </ul>
    <div class="pagination">
        <span class="step-links">
            <!-- página anterior -->
            {% if tasks.has_previous %}
            <a href="?page={{tasks.previous_page_number}}">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </a>
            {% endif %}

            <!-- página atual -->
            {% if tasks.paginator.num_pages %}
            <span class="current">
                {{tasks.number}} de {{tasks.paginator.num_pages}}
            </span>
            {% endif %}

            <!-- página sucessora -->
            {% if tasks.has_next %}
            <a href="?page={{tasks.next_page_number}}">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}