{% extends 'index.html' %}

{% block title %}Dashboard | DJANGO{% endblock %}

{% block content %}
<div class="container mt-content-block">
    <div class="row">
        <div class="col-12 title-block-content">
            <h2>Dashboard do usuário {{user}}</h2>
        </div>
        <div class="col-12 mb-5">
            <p class="wish_adn" style="display: none;">{{wish_adn}}</p>
            <p class="wish_rld" style="display: none;">{{wish_rld}}</p>
            <canvas id="show_chart"></canvas>
        </div>
    </div>
</div>
{% endblock%}