{% extends 'index.html' %}

{% block title %}Wish List | DJANGO{% endblock %}

{% block content %}
<div class="container mt-content-block">
    <div class="row">
        <div class="col-12 title-block-content">
            <h2>Bem-Vindo [nome do usuário]!!!</h2>
        </div>
        <div class="col-md-6">
            <p>
                sssssssss
            </p>
        </div>
        <div class="col-md-6">
            <p>Campo para inserção da descrição do projeto</p>
        </div>
        <div class="col-12">
            <p>[tabela de componentes]</p>
        </div>
    </div>
</div>
{% endblock%}