body{
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #111111;
    font-family: 'Impact';
}

.content-container{
    text-align: right;
}

.container-btn-modal{
    margin-bottom: 10px;
}

table.table{
    border-collapse: collapse;
    th, td{
        padding: 12px;
        border: 2px solid #111111;
    }
    th{
        color: #f0f8ff;
        background-color: #111111;
    }
    .update{
        color: #20b2aa;
    }
    .remove{
        color: #dc143c;
    }
}

.btn-personal-1{
    font-weight: bold;
    color: #111111;
    &:hover{
        color: #f0f8ff;
    }
}

.btn-outline-wait{
    border-color: #ff0000;
    color: #7e0505;
    &:hover{
        background-color: #ff0000;
        color: #f0f8ff;
    }
}

footer{
    background-color: #111111;
}