:root {
  --color-light: #f0eff5;
  --color-dark: #27282f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.padding-basic {
  padding: 20px 10px;
}

body {
  background-color: var(--color-light);
}
body a {
  text-decoration: none;
}
body nav.navbar {
  top: 0;
  z-index: 10;
  width: 100%;
  position: fixed;
}
@media screen and (max-width: 1024px) {
  body nav.navbar div.container-fluid {
    justify-content: space-evenly !important;
  }
}
body nav.navbar div.container-fluid a.navbar-brand {
  margin-right: 2rem;
}
@media screen and (max-width: 991px) {
  body nav.navbar div.container-fluid a.navbar-brand {
    margin-right: 9rem;
  }
}
body nav.navbar div.container-fluid a.navbar-brand i.select-icon {
  font-size: 2rem;
  color: #008b8b;
}
@media screen and (max-width: 1024px) {
  body nav.navbar div.container-fluid a.navbar-brand i.select-icon {
    font-size: 4rem;
  }
}
body nav.navbar div.container-fluid div.navbar-collapse {
  justify-content: center;
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item a.login-btn, body nav.navbar div.container-fluid div.navbar-collapse li.nav-item a.logout-btn {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  color: #f0f8ff;
}
@media screen and (max-width: 991px) {
  body nav.navbar div.container-fluid div.navbar-collapse li.nav-item a.login-btn, body nav.navbar div.container-fluid div.navbar-collapse li.nav-item a.logout-btn {
    text-align: center;
  }
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item a.login-btn {
  background-color: #0B3F3F;
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item a.login-btn:hover {
  background-color: #0b3131;
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item a.logout-btn {
  background-color: #008b8b;
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item a.logout-btn:hover {
  background-color: #0b3131;
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item.dropdown ul.bg-personal-dropdown {
  background-color: #111111;
}
@media screen and (max-width: 991px) {
  body nav.navbar div.container-fluid div.navbar-collapse li.nav-item.dropdown ul.bg-personal-dropdown {
    margin-bottom: 20px;
    background-color: rgba(17, 17, 17, 0.3215686275);
  }
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item.dropdown ul.bg-personal-dropdown li hr {
  background-color: var(--color-light);
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item.dropdown ul.bg-personal-dropdown li a {
  color: var(--color-light);
}
body nav.navbar div.container-fluid div.navbar-collapse li.nav-item.dropdown ul.bg-personal-dropdown li a:hover {
  background-color: rgba(36, 36, 36, 0.5960784314);
}
body main {
  margin-top: 15vh;
}
@media screen and (max-width: 1024px) {
  body main {
    margin-top: 21vh;
  }
}
@media screen and (max-width: 825px) {
  body main {
    margin-top: 20vh;
  }
}
body div.col-12.title-box {
  text-align: center;
}
body div.col-12.title-box h2 {
  font-size: 6rem;
  font-family: "Impact", sans-serif;
}
@media screen and (max-width: 991px) {
  body div.col-12.title-box h2 {
    font-size: 3.8rem;
    margin-bottom: 4vh;
  }
}
body div.content-box {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 825px) {
  body div.content-box {
    margin-bottom: 2vh;
  }
}
body div.content-box div.card {
  width: 18rem;
  background: var(--color-dark) !important;
}
body div.content-box div.card div.card-body h5 {
  opacity: 0.7;
}
body div.content-box div.card p.card-text a {
  font-weight: bold;
  color: #114D4C;
}
body div.content-box div.card p.card-text a:hover {
  text-decoration: underline;
}
body div.content-table-home {
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
}
@media (orientation: landscape) {
  body div.content-table-home {
    margin-bottom: 5vh !important;
  }
}
@media screen and (max-width: 825px) {
  body div.content-table-home {
    margin-bottom: 2vh;
  }
}
body div.content-table-home table {
  width: 100%;
}
body div.content-table-home table tr {
  text-align: center;
}
body div.content-table-home table tr th {
  font-size: 2.2rem;
}
@media screen and (max-width: 991px) {
  body div.content-table-home table tr th {
    font-size: 1.2rem;
  }
}
body div.content-table-home table tr th, body div.content-table-home table tr td {
  padding: 5px 10px !important;
  border: 2px solid #000000;
}
body div.content-table-home table tr th i, body div.content-table-home table tr td i {
  font-size: 5.4rem;
  color: #114D4C;
}
@media screen and (max-width: 991px) {
  body div.content-table-home table tr th i, body div.content-table-home table tr td i {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  body div.content-table-home table tr th i, body div.content-table-home table tr td i {
    font-size: 2.3rem;
  }
}
body div.content-table-home table thead {
  color: var(--color-light);
  background-color: var(--color-dark);
}
body div.list-div {
  padding: 0;
}
body div.list-div a#add-id {
  text-decoration: none;
}
body div.list-div a#add-id div.add-div {
  cursor: pointer;
  padding: 8px;
  margin-right: 25px;
  border-radius: 5px;
  display: inline-block;
  color: var(--color-light);
  background-color: #008b8b;
}
body div.list-div a#add-id div.add-div:hover {
  background-color: #014242;
}
@media screen and (max-width: 600px) {
  body div.list-div a#add-id div.add-div {
    margin-top: 5px;
  }
}
body div.list-div a#add-id div.add-div i.bi.bi-plus-square {
  margin-left: 5px;
  margin-right: 10px;
  font-weight: bold;
}
body div.list-div div.search-div {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
body div.list-div div.search-div form.search-form {
  display: flex;
}
body div.list-div div.search-div form.search-form input#search {
  width: 60vw;
  border-radius: 0;
}
body div.list-div div.search-div form.search-form i.bi.bi-search {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1px 20px;
  border-radius: 0 20px 20px 0;
  font-weight: bold;
  background-color: #708090;
}
body div.list-div div.search-div form.search-form i.bi.bi-search:hover {
  color: var(--color-light);
  background-color: #2c3136;
}
@media screen and (max-width: 600px) {
  body div.list-div div.search-div form.search-form i.bi.bi-search {
    font-size: 1.1rem;
    padding: 5px 14px;
  }
}
body div.list-div ul.task-list {
  padding-left: 0;
  list-style: none;
}
body div.list-div ul.task-list li.task-item {
  height: 50px;
  font-size: 20px;
  padding-top: 10px;
  border-bottom: 1px dashed #ccc;
}
body div.list-div ul.task-list li.task-item a.return-btn {
  float: right;
  text-decoration: none;
  color: #114D4C;
}
body div.list-div ul.task-list li.task-item a.return-btn:hover {
  text-decoration: underline;
  color: #0b3131;
}
body div.list-div ul.task-list li.task-item a {
  text-decoration: none;
  color: #114D4C;
}
body div.list-div ul.task-list li.task-item a:hover {
  color: #0b3131;
}
body div.list-div ul.task-list li.task-item a abbr {
  text-decoration: none;
}
body div.list-div ul.task-list li.task-item a abbr i.bi.bi-trash-fill {
  color: #dc143c;
}
body div.list-div ul.task-list li.task-item a abbr i.bi.bi-trash-fill:hover {
  color: #690519;
}
body div.list-div ul.task-list li.task-item a abbr i.bi.bi-pen-fill {
  color: #008b8b;
}
body div.list-div ul.task-list li.task-item a abbr i.bi.bi-pen-fill:hover {
  color: #014242;
}
body div.list-div ul.task-list li.task-item a abbr i.bi.bi-trash-fill, body div.list-div ul.task-list li.task-item a abbr i.bi.bi-pen-fill {
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  float: right;
}
body div.list-div div.pagination {
  display: flex;
  justify-content: center;
}
body div.list-div div.pagination a i.bi {
  color: #008b8b;
}
body div.list-div div.pagination a i.bi:hover {
  color: #014242;
}
body div.list-div div.pagination span.current {
  font-weight: bold;
}
body div.list-div div.task-title {
  margin-bottom: 30px;
  border-bottom: 1px dashed #ccc;
}
body div.list-div div.task-title h1 {
  margin-bottom: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
body div.list-div form p {
  display: grid;
}
body div.list-div form p label {
  font-weight: bold;
}
body form.login-logout div#div_id_username, body form.login-logout div#div_id_password {
  margin-bottom: 20px;
}
body footer {
  color: var(--color-light);
  background: #111111;
}
body footer div.content-top {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  body footer div.content-top {
    align-items: center;
    flex-direction: column;
  }
}
body footer div.content-top div.title-box {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  body footer div.content-top div.title-box {
    margin-bottom: 20px;
  }
}
body footer div.content-top div.title-box h3 {
  margin-bottom: 0 !important;
  font-family: "Impact", sans-serif;
}
body footer div.content-top div.title-box div.divider-top {
  width: 2px;
  height: 50px;
  margin: 0 15px;
  background-color: rgba(240, 239, 245, 0.6235294118);
}
body footer div.content-top div.social-box {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (max-width: 1024px) {
  body footer div.content-top div.social-box {
    margin-bottom: 20px;
  }
}
body footer div.content-top div.social-box span.sb-text {
  opacity: 0.7;
  margin-bottom: 2vh;
  color: #f0eff5;
}
@media screen and (max-width: 1024px) {
  body footer div.content-top div.social-box span.sb-text {
    margin-bottom: 12px;
  }
}
body footer div.content-top div.social-box aside {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
body footer div.content-top div.social-box aside button.button-port {
  padding: 10px 20px;
  background-color: #111111;
}
body footer div.content-top div.social-box aside button.button-port span {
  font-family: "Impact", sans-serif;
}
body footer div.content-top div.social-box aside button.button-port a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: var(--color-light);
}
body footer div.content-top div.social-box aside button.button-port a.twitter:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #23A4F2, #50B7F5, #80CBF7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
body footer div.content-top div.social-box aside button.button-port a.instagram:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #D93662, #D9328E, #8D33A6, #F2AC57, #F25F29);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
body footer div.content-top div.social-box aside button.button-port a.linkedin:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #014283, #0274B3, #EFF6FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
body footer div.content-top div.social-box aside button.button-port a.github:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #535353, #131313);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
body footer div.content-mid {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 825px) {
  body footer div.content-mid {
    flex-direction: column;
  }
}
body footer div.content-mid div.col-md-3.items-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body footer div.content-mid div.col-md-3.items-box h6 > i {
  font-family: "Impact", sans-serif;
}
body footer div.content-mid div.col-md-3.items-box ul li, body footer div.content-mid div.col-md-3.items-box ul li > a {
  opacity: 0.7;
}
body footer div.content-mid div.col-md-3.items-box ul {
  list-style: none;
}
body footer div.content-mid div.col-md-3.items-box ul li {
  color: var(--color-light);
}
body footer div.content-mid div.col-md-3.items-box ul li a {
  color: #008b8b;
}
body footer div.content-mid div.col-md-3.items-box ul li a:hover {
  text-decoration: underline;
}
body footer div.content-bot p {
  text-align: center;
}
body footer div.content-bot p i {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */