{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Icons (Bootstrap) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- DEVicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <!-- CSS [main] -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- file card -->
    <meta name="description"
    content="Project created in Django">
    <meta name="author"
    content="Baku-Stark">
    <meta name="keywords"
    content="Python, Django">
    <link rel="shortcut icon" href="{% static 'image/icon.ico' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" aria-current="page" href="/">
                    <i class="devicon-django-plain-wordmark select-icon"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/task-list">Tarefas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/name/Wallace">Usuários</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sobre o projeto
                            </a>
                            <ul class="dropdown-menu bg-personal-dropdown">
                                <li><a class="dropdown-item" href="https://github.com/Baku-Stark" target="_blank">Autor</a></li>
                                <li><a class="dropdown-item" href="https://github.com/Baku-Stark/pythonEXE/tree/main/Python%20Django" target="_blank">Repositório do Projeto</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLnDvRpP8BnewqnMzRnBT5LeTpld5bMvsj" target="_blank">Projeto Django</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login-btn" href="/accounts/login/">Login</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link logout-btn" href="/accounts/logout/">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <!-- DJANGO CONTENT -->
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <!-- END OF DJANGO CONTENT -->
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col content-top padding-basic">
                    <div class="title-box">
                        <h3>Baku-Stark</h3>
                        <div class="divider-top"></div>
                        <h3>Python</h3>
                    </div>
                    <div class="social-box">
                        <span class="sb-text">
                            Me siga nas redes sociais
                        </span>
                        <aside>
                            <button class="button-port">
                                <a
                                    href="https://twitter.com/Walleemc2"
                                    target="_blank"
                                    class="twitter">
                                    <i class="bi bi-twitter"></i>
                                    <span class="social-media">Twitter</span>
                                </a>
                            </button>
                            <button class="button-port">
                                <a
                                    href="https://www.instagram.com/wallace_emc2/"
                                    target="_blank"
                                    class="instagram">
                                    <i class="bi bi-instagram"></i>
                                    <span class="social-media">Instagram</span>
                                </a>
                            </button>
                            <button class="button-port">
                                <a
                                    href="https://www.linkedin.com/in/wallace-freitas-92a2061b6/"
                                    target="_blank"
                                    class="linkedin">
                                    <i class="bi bi-linkedin"></i>
                                    <span class="social-media">LinkedIN</span>
                                </a>
                            </button>
                            <button class="button-port">
                                <a
                                    href="https://github.com/Baku-Stark"
                                    target="_blank"
                                    class="github">
                                    <i class="bi bi-github"></i>
                                    <span class="social-media">GitHub</span>
                                </a>
                            </button>
                        </aside>
                    </div>
                </div>

                <hr class="mt-4 mb-4">

                <div class="col content-mid padding-basic">
                    <div class="col-md-3 items-box">
                        <h6>
                            <i>SOBRE O PROJETO</i>
                        </h6>
                        <ul>
                            <li>
                                Wallace De Freitas (Baku-Stark)
                            </li>
                            <li>
                                <a href="https://github.com/Baku-Stark/pythonEXE">Andamaneto - Python</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 items-box">
                        <h6>
                            <i>CURSOS DE PYTHON</i>
                        </h6>
                        <ul>
                            <li>
                                <a href="https://www.cursoemvideo.com/cursos/"> Curso Em Vídeo (Gustavo Guanabara)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 items-box">
                        <h6>
                            <i>CURSOS DE DJANGO</i>
                        </h6>
                        <ul>
                            <li>
                                <a href="https://www.youtube.com/watch?v=LZsjuSBW5YM&list=PLnDvRpP8BnewqnMzRnBT5LeTpld5bMvsj">Matheus Battisti - Hora de Codar</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr class="mt-4 mb-4">

                <div class="col content-bot padding-basic">
                        <p>
                            <i>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi accusamus ducimus veniam autem alias at quaerat, totam repudiandae cumque molestiae. Harum, tempore explicabo? Nemo qui aliquam autem. Provident, numquam!
                            </i>
                        </p>
                        <p>
                            <i>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium animi accusamus ducimus veniam autem alias at quaerat, totam repudiandae cumque molestiae. Harum, tempore explicabo? Nemo qui aliquam autem. Provident, numquam!
                            </i>
                        </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JQUERY [CDN] -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <script src="{% static 'js/index.js' %}"></script>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>